body {
    font-family: "Roboto", sans-serif;
}


.sidePop {
    position: fixed;
    z-index: 2147483647;
    display: flex;
    flex-direction: row;
    row-gap: 0;
    right: -340px;
    top: 75px;
    transition: transform 0.3s ease;
    margin: 0;
    /* Add transition for smooth sliding */
}

.placeholder {
    height: 100px;
    width: 40px;
    position: relative;
}

.sidePopImage {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 40px;
}


.mainFrame {
    height: 450px;
    width: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}


.slide-down {
    transform: translateX(-89%);
}

.divN {
    white-space: pre-line;
}


.nav-bar {
    background-color: green;
    display: flex;
    flex-direction: row;
    background-color: #224A2C;
    /* Background color of the navigation bar */
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* Adjust the padding as needed */
}


.product-detail {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    height: 150px;
    width: 100%;
    top: 50px;
}


.product-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.tab-el {
    height: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.tab-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid;
}

.p-tab {
    color: black;
    font-size: 15px;

}

.active {
    border-bottom: 2px solid;
    border-color: green;
    /* Highlighted tab style */
}

.text-format {
    color: black;
    font-size: 15px;
}

.main-img {
    object-fit: cover;
    max-height: 90%;
    max-width: 60%;
    border: 1px;
    border-color: black;
}

.tabContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pros-ensemble {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hey {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pros-section {
    padding: 10px;
    width: 95%;
    display: flex;
    flex-direction: row;
}

.arg-boxes {
    border-radius: 5px;
    background-color: #DBF2D4;
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
}