.sidePop {
    position: fixed;
    z-index: 2147483647;
    display: flex;
    flex-direction: row;
    row-gap: 0;
    right: -355px;
    top: 100px;
    transition: transform 0.3s ease;
    margin: 0;
    /* Add transition for smooth sliding */
}

.sidePopImage {
    height: 50px;
    width: 50px;
    margin: 0;
}


.mainFrame {
    height: 450px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}


.slide-down {
    transform: translateX(-89%);
}



.nav-bar {
    background-color: green;
    display: flex;
    flex-direction: row;
    background-color: #224A2C;
    /* Background color of the navigation bar */
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* Adjust the padding as needed */
}

.worthit-brand img,
.setting-icon img {
    width: 24px;
    /* Adjust the size of the icons */
    height: auto;
    margin: 0 5px;
    /* Add margin between icons */
}


.product-detail {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    height: 150px;
    width: 100%;
    top: 50px;
}


.product-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.tab-el {
    height: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.tab-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px solid;
}

.p-tab {
    color: black;
    font-size: 15px;

}

.active {
    border-bottom: 2px solid;
    border-color: green;
    /* Highlighted tab style */
}

.text-format {
    color: black;
    font-size: 15px;
}

.main-img {
    object-fit: cover;
    max-height: 90%;
    max-width: 60%;
    border: 1px;
    border-color: black;
}